<%- include('./partials/head.ejs') -%> 

<section class="vraagaanbod"> 
    <!-- Doe dit meerdere keren.. -->
    <% vraagaanbod.forEach(function(initatief) {%>
        <article>
        <!-- Titel van het vraagaanbod -->
        <h2> <%= initatief.title %></h2>
            
        <!-- Startdatum van het vraagaanbod -->
        <p>Startdatum: <%= initatief.start_date %></p>
            
        <!-- Einddatum van het vraagaanbod -->
        <p>Einddatum: <%= initatief.end_date %></p>
            
        <!-- Buurt waar het vraagaanbod plaatsvindt -->
        <p>Buurt: <%= initatief.neighbourhood %></p>
            
        <!-- Optioneel: tijd van het vraagaanbod -->
        <% if (initatief.time) { %>
        <p>Tijd: <%= initatief.time %></p>
        <% } %>

        <p class="over-vraagaanbod-tekst"> <%- initatief.long_description %> </p>
        <!-- Afbeelding van het vraagaanbod -->
        <% if (initatief.image) { %>
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= initatief.image %>?format=avif" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= initatief.image %>?format=webp" type="image/webp">
                <img src="https://fdnd-agency.directus.app/assets/<%= initatief.image %>">
            </picture>
        <alt="<%- initatief.short_description %>">

        <!-- Like button -->
        <form action="" method="POST">
        <button class="like-button">Like</button>
        </form>

        <% } %>

        </article>
        <%});%>
        
</section>

<%- include('./partials/foot.ejs') -%>

